/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Media queries */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
}

@media (min-width: 769px) {
    .desktop {
        display: flex;
    }
    .mobile {
        display: none;
    }
}

/* Global styles */
.black {
    color: black;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}


.flex {
    display: flex;
}

.full-height {
    height: 100% !important;
}

.full-space {
    height: 100% !important;
    width: 100% !important;
}

.full-width {
    width: 100% !important;
}

h1 {
    height: fit-content;
    margin: 0 !important;
}

h2 {
    height: fit-content;
    margin: 0 !important;
}

h3 {
    height: fit-content;
    margin: 0 !important;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

.white {
    color: white;
}